#{extends 'main.html' /}
#{set title:'Signup' /}
#{welcomemenu id:"signup"/}

<div class="ui two column grid basic middle aligned segment">
    <div class="column">
        <form class="ui stacked segment form" action="/register" method="POST">
            <h3 class="ui header">Register</h3>
            <div class="two fields">
                <div class="field">
                    <label>First Name</label>
                    <input placeholder="Name" type="text" name="firstname">
                </div>
                <div class="field">
                    <label>Last Name</label>
                    <input placeholder="Name" type="text" name="lastname">
                </div>
            </div>
            <div class="field">
                <label>Email</label>
                <input placeholder="Email" type="text" name="email">
            </div>
            <div class="field">
                <label>Password</label>
                <input type="password" name="password">
            </div>
            <div class="field">
                <label>Address</label>
                <input placeholder="Address" type="text" name="address">
            </div>
            <div class="field">
                <label>Gender</label>
                <select class="ui dropdown" name="gender">
                    <option value=""> Unspecified</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
            <div class="two fields">
                <div class="field">
                    <label>Height</label>
                    <input placeholder="Height" type="text" name="height">
                </div>
                <div class="field">
                    <label>Starting Weight</label>
                    <input placeholder="Starting Weight" type="text" name="startingWeight">
                </div>
            </div>
            <button class="ui blue submit button">Submit</button>
        </form>
    </div>
    <div class="column">
        <img class="ui image" src="/public/images/seticon.jpg">
    </div>
</div>