#{extends 'main.html' /}
#{set title:'Start' /}

#{welcomemenu id:"start"/}

<section class="ui center aligned middle aligned segment">
    <h1 class="ui header">
        Welcome to PlayGym App
    </h1>
    <p>
        A small app to let you store your assessments and monitor your progress. <br>
        Simply enter the details on the dashboard. <br>
    </p>
    <p> Please Signup or Login using the menu above.
    </p>
</section>
<section class="ui center aligned middle aligned segment">
    <div class="row text-center">
        <img class="ui image" src="/public/images/seticon.jpg">
    </div>
</section>